.color{

    background-color:rgb(0, 0, 0);
    /* border-style:outset; */
   }
   .logo_size{
   
     width: 250px;
     height: 60px;
   }
   .boxforsearch{
   
     width: 50pc;
     border-color: rgb(247, 183, 20);
     
   }
   
   .myNav{
     width: 100%;
     position: fixed;
     top: 0;
     z-index: 9;
   }
   